In [26]:
 """משתנה תלוי:מספר החולים(מוסבר)
משתנה בלתי תלוי: גודל האוכלוסיה (מסביר)
 מספר חולים = Xאוכלוסיה+B
"""

'משתנה תלוי:מספר החולים(מוסבר)\nמשתנה בלתי תלוי: גודל האוכלוסיה (מסביר)\nמספר חולים = Xאוכלוסיה+B\n'

In [27]:
# imports 
import numpy as np
import pandas as pd
from sklearn import linear_model,metrics,preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression, LogisticRegression
#and visualization setup
import matplotlib.pyplot as plt
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6)

from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm

In [28]:
df=pd.read_csv("Morbidity.csv")
df['population']=df['population'].str.replace(",","")
df

   year population growth_rate  morbidity     unsick  morbidity_rate
0  2010    7346446       2.18%       2268  7,344,178        0.030872
1  2011    7487100       1.91%       2206  7,484,894        0.029464
2  2012    7614952       1.71%       2382  7,612,570        0.031281
3  2013    7734841       1.57%       2521  7,732,320        0.032593
4  2014    7854213       1.54%       2646  7,851,567        0.033689
5  2015    7978490       1.58%       2594  7,975,896        0.032512
6  2016    8108985       1.64%       2759  8,106,226        0.034024
7  2017    8243848       1.66%       2675  8,241,173        0.032448
8  2018    8381516       1.67%       2764  8,378,752        0.032977

In [29]:
df.describe()

              year    morbidity  morbidity_rate
count     9.000000     9.000000        9.000000
mean   2014.000000  2535.000000        0.032207
std       2.738613   206.504843        0.001439
min    2010.000000  2206.000000        0.029464
25%    2012.000000  2382.000000        0.031281
50%    2014.000000  2594.000000        0.032512
75%    2016.000000  2675.000000        0.032977
max    2018.000000  2764.000000        0.034024

In [30]:
t_df=df.drop(["growth_rate"],axis=1)
t_df=t_df[["year","population","morbidity",]]
X=t_df.iloc[:,:-1]
Y=t_df.iloc[:,-1]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0)
reg=LinearRegression(fit_intercept=0)
reg.fit(X_train,Y_train)

LinearRegression(fit_intercept=0)

In [19]:
y_pred=reg.predict(X_test)
X_test

   year population
7  2017    8243848
2  2012    7614952
1  2011    7487100

In [20]:
y_pred

array([2762.27669741, 2450.23974144, 2386.79268184])

In [21]:
print(f"mse:{metrics.mean_squared_error(Y_test,y_pred)}")
print(f"r^2:{metrics.r2_score(Y_test,y_pred)}")

mse:14986.626010352042
r^2:0.5995093795669405